/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

#chatbutton{
  position: fixed;
  bottom: 5px;
  right: 60px;
  align-content: center;
  color: #fff;
  border: none;
}

body{
  background: url("../bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment:fixed;
  background-position:center;
}

#chatbutton:hover{
  color: #bdbdbd;
}


.chat_box {
  background: #fff;

  width: 22%;
  height: 50%;
  position: fixed;
  bottom: 0px;
  right: 60px;
  transition: all .3s;
  border: 1px solid transparent;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 0 1px 2px;
  overflow: hidden;
  z-index:900000;
}

#chat_msg_box{
  width: 85%;
  color: #000;
}
.chatbox{
  bottom:0px;
  width: 100%;
  height: 0%;

  
}
.emojiPickerIconWrap{
  width:100%;
}
.pesan_chat {
  text-align: center;
  text-decoration: none;
  display: block;
  height: 65%;
  bottom: 0px;
  padding: 5px 5px 15px;
  overflow: scroll;
  overflow-x: hidden;
}
.message{
  border: none;
  background-color: #424242;
  border-radius: 5px;
  display: inline-block;
  word-wrap: break-word;

}

.msg_container{
  padding-top: 2px;
  padding-bottom: 2px;
}

.chatheader {

  margin: 0 auto;
  padding: 0 10px;
  height: 20%;
  line-height: 20px;
  font-size: 15px;
  font-weight: 700;
  color: #616161;
  text-align: center;
  display: block;
  cursor: pointer;
}

.pesan_chat p {
  color: #fff;
  font-size: 16px;
  margin: 10px;
}


@media (max-width: 430px)
{
  .vjs-poster{
    vertical-align: middle;
  }
  #welcomelist{
    display:none;
  }
}




/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

body.drag:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(#F8283B, 0.3);
  border: 5px #F8283B dashed;
}


a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;

  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
 
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  underline;
 
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  
  } 

.tooltip {
    display: inline;
    position: relative;
}
.tooltip:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(data-attr);
    left: 0%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 200px;
    text-align: center;
}
.tooltip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
.container {
    width: 100%;
    margin: auto;
    padding: 0px;
}
.one {
    width: 50%;
    text-align: left;
    float: left;
    line-height: 20px;
}

#tag {
  line-height: 10px;
}
.two {
    margin-left: 0%;

}

#code {
  color: #42A5F5;
}

input[type="text"] {
    width: 30%;
    background: transparent;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
body {
  background-color: #424242;
  color: #bdbdbd;
}

.title {
  color: #ffffff;
}
.vjs-poster{
  text-align: center;
  color: #bdbdbd;
  font-family: Raleway;
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 15px;
}
#welcomelist
{
    margin-right: 10%;
    margin-left: 10%;
    text-align: left;
}

/* Tell the <li> to not display numbers, but keep track of what the numbers should be */
ol li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
}
/* Outout the numbers using the counter() function, but use a custom color, and position the numbers how we want */
ol li:before {
  color: #42A5F5;
  content: counter(list) ".";
  left:-32px;
  position: absolute;
  text-align: right;
  width: 26px;
}

.main {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.video-js.vjs-default-skin .vjs-big-play-button { display: none; }

.videocontent {
  margin:0 auto;
  max-width: 768px;
  width: 100%;
  text-align: right;
}
.faqcontent {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
    text-align: left;
}
#headerid2 {
    text-align: right;
}
/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  

  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description { 
  margin-bottom: 4rem;
}

/*larger than 716*/
@media (min-width: 716px) {
    .vjs-poster{
      margin-top: 15%;
      font-size: 21px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 30px;
  }
  #welcomemsg {
    margin-top: 5%;
  }


}
/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}
